'atom-text-editor.has-livestyle-widget':
    'escape': 'livestyle:hide-widget'
    # 'ctrl-alt-k': 'livestyle:show-widget'
    # 'ctrl-alt-o': 'livestyle:show-outline'

'livestyle-outline':
    'backspace': 'native!'
