@import "ui-variables";

.livestyle-widget {
    background: @background-color-info;
    color: @text-color-highlight;
    border-radius: @component-border-radius;
    padding: 0 7px;
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    white-space: nowrap;
}
