@import "ui-variables";

.livestyle-widget {
    background: @background-color-info;
    color: @text-color-highlight;
    border-radius: @component-border-radius;
    padding: 0 7px;
    position: absolute;
    margin-left: 7px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    animation: livestyle-widget-display 0.4s;

    &::before {
        @size: 6px;
        content: '';
        width: @size;
        height: @size;
        margin: -@size / 2;
        display: inline-block;
        background: inherit;
        position: absolute;
        transform: rotate(45deg);
        top: 0.7em;
        left: 0;
    }

    &_hidden {
        display: none;
    }

    &__computed-value {
        white-space: nowrap;
        bottom: 0;
    }

    &__mixin {
        top: -1.2em;
    }

    &__color {
        display: inline-block;
    	border: 1px solid rgba(255, 255, 255, 0.4);
    	border-radius: 2px;
    	margin-right: 3px;
    	width: 15px;
    	height: 0.9em;
    	line-height: 1;
    	text-align: center;
    	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    	position: relative;
        top: 2px;
        box-sizing: content-box;

        &[data-type="approximate"]::before {
        	content: '≈';
        	opacity: .5;
        }
    }
}

.livestyle-mixin {
    min-width: 100px;
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
    font-size: 0.9em;

    &__name {
    	margin-top: 15px;
    	font-weight: bold;
    	padding-bottom: 2px;

        &:first-child {
        	margin-top: 0;
        }
    }

    &__property-name:after {
    	content: ': ';
    }

    &__property-value:after {
    	content: ';';
    }

    &__section-name:after {
    	content: ' {';
    }

    &__section-body {
    	padding-left: 10px;

        &:after {
            content: '}';
            margin-left: -10px;
        }
    }
}

.livestyle-autocomplete-color {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    margin-right: 3px;
}

@keyframes livestyle-widget-display {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
